.App {
  text-align: center;
}

html {
  font-size: 125%;
  background: cornflowerblue;
}
img {
  display: block;
  width: 100%;
  height: 0 auto;
}

h1,
h2,
h3,
p,
a,
i,
ul,
 button {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: url('./assets/favorite.png');
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: 'Aclonica', sans-serif;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px cornflowerblue;
  width: 40%;
  padding: 10% 0 0 5%;
  text-align: center;
}

h2 {
  font-family: 'Aclonica', sans-serif;
  color: black;
  text-shadow: 2px 2px grey;
}

p {
  font-family: 'Bree Serif', serif;
}

h2 {
  padding-bottom: 20px;
  text-shadow: ;
}

i {
  padding-left: 5px;
}

button {
  background: rgba(0, 0, 0, 0.19) ;
  border: none;
}

form i {
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
  padding-left: 0;
  line-height: 0;
}

li {
  list-style: none;
}

form {
  padding-top: 30px;
  
}

.users {
  text-align: center;
  padding-top: 20px;
}

.bookMovieGridContainer {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 43% 14% 43%;
  padding: 40px 20px 0 20px;
}

.books {
  grid-column: 1 / 2;
  text-align: center;
}

#borderImage1 {
  border: 60px solid transparent;
  padding: 15px;
  border-image: url(./assets/bookshelf-background-bookcase-with-books-vector-34852681.jpg) 20% round;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 10px 10px;
  margin-top: 20px;
}

.movies {
  grid-column: 3 / 4;
  border: 10px solid cornflowerblue;
  text-align: center;
}

#borderImage2 {
  border: 60px solid transparent;
  padding: 15px;
  border-image: url(./assets/old-film-strip-260nw-59294353\ copy.jpg) 20% round;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 10px 10px;
  margin-top: 20px;  
}

input {
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
  margin-right: 10px;
}

.books p,
.movies p {
  padding: 5px;
}

.bookForm {
  grid-column: 1 / 2;
  text-align: center;
}

.movieForm {
  grid-column: 3 / 4;
  text-align: center;
}

footer {
  padding: 20px 0 10px 0;
  text-align: center;
}


/* // Breakpoints */
@media(max-width: 960px) {
  .bookMovieGridContainer {
    grid-template-columns: 100%;
  }

  .movies,
  .movieForm {
    grid-column: 1 / 2;
  }
}

@media(max-width: 1000px) {
  header {
    height: 30vh;
  }
}
@media(max-width: 630px) {
  header {
    height: 20vh;
  }

  h1 {
    font-size: 1.3rem;
  }
}

@media(max-width: 370px) {
  h2 {
    font-size: .9rem;
  }
}
